body {
  /* font-family: inherit; */
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

h1 a {
  color: black;
}

h1 a:hover {
  color: #b57281;
}

header {
  margin-top: 20px;
}

a {
  color: #b57281;
}

footer {
  font-size: 12px;
}

.card {
  margin-top: 25px;
}

#about {
  margin-top: 60px;
}

#about-img {}

#about-text {
  padding: 50px;
}

#site-title {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

#discog {
  margin-top: 60px;
  font-family: inherit;
}

#portfolio h3 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.technology {
  font-family: Arial, sans-serif;
}

#portfolio .card {
  padding-top: .25em;
  height: 320px;
  box-shadow: 5px 10px 9px rgb(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content:space-between;
} 

#portfolio .mirror-music {
  padding-top: 2em;
}

#portfolio .album a {
  color: #000000;
  text-decoration: none;
}

#portfolio .album a:hover .card {
  box-shadow: 5px 10px 9px #b57281;
  color: #555555;
}

#portfolio .card-body h5 {
  transition: 300ms transform ease;
}

#portfolio .card-body p{
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

#portfolio .album .card:hover h5,
#portfolio .album .card:hover p {
  opacity: 1;
  transition-delay: 100ms;
  transform: none;
}

#portfolio .album .card:hover p {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateY(-50%);
}

.technology h2 {
  text-align: center;
  margin-top: 2em;
}

@media (max-width: 770px) {

  #about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-img {
    padding: 0;
    margin: 0;
  }

  #about-text {
    padding: 50px 0 0 0;
    margin: 0;
  }

  #portfolio .card {
    padding-top: 1em;
    height:100px;
  }
  #portfolio .card img {
    display: none;
  }
  #portfolio .card-body p{
    opacity: 1;
  }
}